.success-message {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  animation: slideIn 0.5s ease-in-out, slideOut 0.5s ease-in-out 2.5s;
  padding: 10px;
  color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

@keyframes slideIn {
  from {
      transform: translateX(100%);
      opacity: 0;
  }
  to {
      transform: translateX(0);
      opacity: 1;
  }
}

@keyframes slideOut {
  from {
      transform: translateX(0);
      opacity: 1;
  }
  to {
      transform: translateX(100%);
      opacity: 0;
  }
}

.form-container {
  position: relative; /* Ensure the form container is positioned relative for button positioning */
  padding-bottom: 60px; /* Add padding to the bottom to accommodate the button */
}

.submit-button {
  position: absolute; /* Position the button absolutely within the form container */
  bottom: 1px; /* Adjust this value to fit your layout */
  right: 10px; /* Adjust this value to fit your layout */
  /* Optionally add other styling here */
  margin-bottom: 2px;
}
