.form-container {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: 0 0 10px rgba(19, 61, 228, 0.847);
  border-radius: 8px;
  background-color: #fff;
}

.input-field {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input-field:hover {
  border-color: #6C63FF; /* Change border color on hover */
}

.submit-button-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 20px; /* Add some space above the button */
}

.submit-button {
  background-color: #6C63FF;
  color: white;
  padding: 10px 40px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s; /* Add transition effect */
}

.submit-button:hover {
  background-color: #5248DB; /* Darker background color on hover */
}

.success-message {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: green;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  animation: slideIn 0.5s ease-in-out forwards; /* Add slide-in animation */
}

@keyframes slideIn {
  from {
      opacity: 0;
      transform: translateY(50%);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}
/* Responsive styles */
@media (max-width: 600px) {
  .form-container {
      padding: 10px;
      box-shadow: none;
      border-radius: 0;
  }

  .submit-button {
      padding: 10px 20px;
  }

  .success-message {
      bottom: 10px;
      right: 10px;
      padding: 5px;
  }
}



.submit-button {
  background-color: #6C63FF;
  color: white;
  padding: 10px 40px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s; /* Add transform transition */
  animation: pulse 1.5s infinite; /* Start the pulse animation */
}

.submit-button:hover {
  background-color: #5248DB;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.submit-button.success-animation {
  animation: upload 2s forwards; /* Change to upload animation on success */
}

@keyframes upload {
  0% {
    transform: translateY(0) scale(1);
  }
  50% {
    transform: translateY(-10px) scale(1.1);
  }
  100% {
    transform: translateY(-100%) scale(0.1);
  }
}
