/* src/Header.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333; /* Dark gray background */
    color: white; /* White text */
    font-family: 'Arial, sans-serif';
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  }
  
  .header a:hover{
    color: #ffcc00;
  }
  .logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
    cursor: pointer;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    transition: color 0.3s;
  }
  
  .nav-links a:hover {
    color: #ffcc00; /* Gold color on hover */
  }
  